/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
body {
  font-family: var(--font-family-base);
}

/* Main content section */
.container {
  max-width: 2160px;
  margin: 0 auto;
}

/* Tab navigation */
.nav-tabs {
  border-bottom: none;
  justify-content: center;
}

.nav-link {
  font-size: 20px;
  color: var(--main-text-color);
  border: none;
  border-radius: 0;
  padding: 10px 20px;
}

.nav-link.active,
.nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--color-text2);
}

/* Tab content */
.tab-content {
  border: 1px solid #ddd;
  padding: 20px;
}

.tab-pane {
  display: none;
  padding-top: 20px;
}

.tab-pane.show {
  display: block;
}

/* Card */
.card {
  margin-top: 50px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-size: 36px;
  font-weight: bold;
  color: var(--main-text-color);
  padding: 50px;
  background-color: var(--primary-color);
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 50px;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  background-color: var(--primary-color);
}

tr:hover {
  background-color: var(--primary-color);
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 5px;
  float: right;
  border: none;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
}

.dataTables_wrapper .dataTables_length {
  margin-left: 5px;
  font-size: 16px;
  color: var(--main-text-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: var(--primary-color);
  color: var(--main-text-color);
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: var(--hover-color);
  color: var(--color-text2);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: var(--accent-color);
  color: var(--color-text2);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background-color: var(--primary-color);
  color: var(--main-text-color);
  cursor: not-allowed;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background-color: var(--primary-color);
  color: #ccc;
  cursor: not-allowed;
}

.dataTables_wrapper .dataTables_info {
  margin-left: 5px;
  font-size: 16px;
  color: var(--main-text-color);
}

/* Add custom styles for demo purposes */
body {
  background-color: var(--primary-color);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
  color: var(--color-text);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: var(--hover-opacity);
}

.btn {
  background-color: var(--accent-color);
  color: var(--color-text2);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--accent-color2);
}

.btn-primary {
  background-color: var(--accent-color3);
}

.btn-primary:hover {
  background-color: var(--accent-color2);
}

.container {
  padding: 20px;
}

.card-header {
  background-color: var(--secondary-color);
  color: var(--color-text2);
}

.card-body {
  background-color: var(--primary-color);
}

.dataTables_wrapper .dataTables_filter input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0px 0px var(--spread) var(--accent-color);
}

.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_paginate {
  display: flex;
  align-items: center;
}

.dataTables_wrapper .dataTables_length select {
  margin-left: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--main-text-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  margin-left: auto;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  margin-left: 5px;
  margin-right: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_length label {
  color: var(--main-text-color);
}