{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/index.css">

<main class="main-content">
  <div class="image-background">
    <img src="{{ url_for('static', filename='images/stock (35).jpg') }}" alt="coffee beans">
  </div>
  <section class="content-section">
    <div class="container">
      <div class="brand-section">
        <h1 class="brand-title">Welcome to Bloo Coffee!</h1>
        <p class="brand-description">We serve the best coffee in town.</p>
      </div>
    </div>
  </section>
</main>

{% endblock %}