{% extends "base.html" %}
{% block title %} login {% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}
{% block content %}
<main class="login-container">
    <div class="login-form">
        <h1 class="login-title">Login</h1>
        <form action="http://127.0.0.1:5000/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" autocomplete="off" required />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
            <button type="submit" class="btn-login">Log In</button>
        </form>
        {% if error %}
        <div class="login-error">{{ error }}</div>
        {% endif %}
    </div>
</main>
{% endblock %}