{% extends "base.html" %} {% block title %} Add New Flavor {% endblock %} {%
  block styles %}
  <link rel="stylesheet" href="/static/css/newadmin.css" />
  {% endblock %} {% block content %}
  <main class="page-container">
    <div class="card-container">
      <div class="card-heading">
        <button onclick="goBack()" class="back-button">Back</button>
        <h1 class="card-heading">New admin</h1>
      </div>
      <div class="card-body">
        <p class="card-description">Add a new admin to the database!</p>
        <form action="/newadmin" method="post" class="admin-form">
          <div class="form-group">
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" required class="form-control" placeholder="Enter username" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password:</label>
            <input id="password" name="password" type="password" required class="form-control" placeholder="Enter password" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="confirm_password" class="form-label">Confirm Password:</label>
            <input id="confirm_password" name="password_confirmation" type="password" required class="form-control" placeholder="Confirm password" required autocomplete="off">
          </div>
          <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="fa fa-eye"></i></span>
          <button type="submit" class="btn btn-primary">Submit</button>
  
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert success-alert">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </main>
  <script src="https://kit.fontawesome.com/59f42feff4.js" crossorigin="anonymous"></script>
  <script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      var confirmInput = document.getElementById("confirm_password");
      var passwordToggle = document.querySelector(".password-toggle");
      if (passwordInput.type === "password" && confirmInput.type === "password") {
        passwordInput.type = "text";
        confirmInput.type = "text";
        passwordToggle.innerHTML = '<i class="fa fa-eye-slash"></i>';
      } else {
        passwordInput.type = "password";
        confirmInput.type = "password";
        passwordToggle.innerHTML = '<i class="fa fa-eye"></i>';
      }
    }
  </script>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
  
  {% endblock %}