{% extends "base.html" %}

{% block title %} Add New Flavor {% endblock %}
{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">New admin</h1>
  <p class="lead">Add new admin to database!</p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/newadmin" method="post" class="animate__animated animate__fadeIn">
        <!-- Added form tag with action and method attributes, and form class -->
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="username" required class="form-control" placeholder="" required
            autocomplete="off">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" name="password" type="hash" required class="form-control" placeholder="" required
            autocomplete="off" />
          <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="fa fa-eye"></i></span>
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password:</label>
          <input id="confirm_password" name="password_confirmation" type="password" required class="form-control"
            placeholder="" required autocomplete="off" />
          <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="fa fa-eye"></i></span>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </form> <!-- Closing form tag -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-success">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
<script src="https://kit.fontawesome.com/59f42feff4.js" crossorigin="anonymous"></script>
<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    var confirmInput = document.getElementById("confirm_password");
    var passwordToggle = document.querySelector(".password-toggle");
    if (passwordInput.type === "password" && confirmInput.type === "password") {
      passwordInput.type = "text";
      confirmInput.type = "text";
      passwordToggle.innerHTML = '<i class="fa fa-eye-slash"></i>';
    } else {
      passwordInput.type = "password";
      confirmInput.type = "password";
      passwordToggle.innerHTML = '<i class="fa fa-eye"></i>';
    }
  }
</script>
{% endblock %}